extends ./template/base

block body
    div.container
        
        a.mt-4.d-inline-block.text-primary(href='/products') < Liste des produits
    
        h1.text-center.my-5 Ajouter un produit

        form(method='post' action='/add')
            div.form-group
                label(for='name') Nom du produit :
                input.form-control(id="name" type='text', placeholder='Nom du produit...' name='name', required)
            div.form-group    
                label(for='priceEur') Prix du produit :
                input.form-control(id="priceEur" type='number' step='any', placeholder='Prix en euros...' name='priceEur', required)
            input.btn.btn-primary(type='submit' value="Ajouter un produit")
