extends ./template/loader
  
block body
    div.content
        h1 #{h1}
        div.compteur
            button#demarrer.btn.btn-primary.btn-lg.rounded-0.bg-light.border-0.text-primary Demarrer
            div#bip.display
