extends ./template/base

block body
    h1 Page de liste.
    form(id="form_currency", action=`/product/${product.id}`, method='get')
        include include/currency_form
    ul
        - var concat = (+product.priceEur * +factor).toFixed(2)
        li
            a(href=`/product/${product.id}`)= `Produit : ${product.name}` + ` Prix: ${concat}`
    a(href='/ajout') ajout
